{% assign sid = section.id %}

{% render 'section-padding-style-config',
  section_id: section.id,
  padding_top: section.settings.padding_top,
  padding_bottom: section.settings.padding_bottom
%}

<style>
  #shopify-section-{{ sid }} .content-wrapper {
    display: grid;
    gap: 4.8rem;
    width: 100%;
  }

  #shopify-section-{{ sid }} .heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--cstm-color-primary);
  }

  #shopify-section-{{ sid }} .logos-wrapper {
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      white 10%,
      white 90%,
      transparent 100%
    );
    width: 100%;
  }

  #shopify-section-{{ sid }} .swiper-wrapper {
    display: flex;
    align-items: center;
    transition-timing-function: linear;
  }

  #shopify-section-{{ sid }} .logo-wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    padding-block: 1rem;
    margin-right: 8rem;
    opacity: 0.5;
    transition: opacity var(--duration) var(--ease);
  }

  #shopify-section-{{ sid }} .logo-wrapper:hover {
    opacity: 1;
  }

  #shopify-section-{{ sid }} .logo-wrapper:first-child {
    margin-left: 8rem;
  }

  #shopify-section-{{ sid }} .logo {
    width: 100%;
    height: auto;
    max-width: 13rem;
  }

  @media screen and (min-width: 750px) {
    #shopify-section-{{ sid }} .content-wrapper {
      gap: 6.4rem;
    }

    #shopify-section-{{ sid }} .logo-wrapper {
      margin-right: 12rem;
    }

    #shopify-section-{{ sid }} .logo {
      max-width: 15rem;
    }
  }
</style>

<div class="content-wrapper">
  <div class="heading">{{ section.settings.text }}</div>

  <div class="swiper logos-wrapper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <div class="swiper-slide logo-wrapper" {{ block.shopify_attributes }}>
          {% if block.settings.logo %}
            {{ block.settings.logo | image_url: height: 200 | image_tag: class: 'logo' }}
          {% else %}
            {{ 'product-3' | placeholder_svg_tag: 'logo' }}
          {% endif %}
        </div>
      {% endfor %}

      {% for block in section.blocks %}
        <div class="swiper-slide logo-wrapper" {{ block.shopify_attributes }}>
          {% if block.settings.logo %}
            {{ block.settings.logo | image_url: height: 200 | image_tag: class: 'logo' }}
          {% else %}
            {{ 'product-3' | placeholder_svg_tag: 'logo' }}
          {% endif %}
        </div>
      {% endfor %}

      {% for block in section.blocks %}
        <div class="swiper-slide logo-wrapper" {{ block.shopify_attributes }}>
          {% if block.settings.logo %}
            {{ block.settings.logo | image_url: height: 200 | image_tag: class: 'logo' }}
          {% else %}
            {{ 'product-3' | placeholder_svg_tag: 'logo' }}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script src="{{ 'custom-logo-list.js' | asset_url  }}" defer="defer"></script>

{% schema %}
{
  "name": "Logo List",
  "tag": "section",
  "disabled_on": {
    "groups": ["*"]
  },
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "As seen on:"
    },
    {
      "type": "range",
      "id": "spacing",
      "min": 0,
      "max": 6,
      "step": 0.4,
      "unit": "rem",
      "label": "Logos spacing",
      "default": 2.4
    },
    {
      "type": "header",
      "content": "Styles"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 14,
      "step": 1,
      "unit": "rem",
      "label": "Padding Top",
      "default": 6
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 14,
      "step": 1,
      "unit": "rem",
      "label": "Padding Bottom",
      "default": 6
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Column",
      "limit": 8,
      "settings": [
        {
          "type": "image_picker",
          "label": "Logo",
          "id": "logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo List",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ]
}
{% endschema %}
