{{ 'custom-hero-text-image.css' | asset_url | stylesheet_tag }}

{% style %}
  #shopify-section-{{ section.id }} {
      position: relative;
      background-color: {{ section.settings.background_color }};
      color: {{ section.settings.text_color }};
  }
{% endstyle %}

<div class="page-width">
  <div class="hero__wrapper">
    {% comment %} Hero content  {% endcomment %}
    <div class="hero__content-wrapper">
      <div class="hero__ratings-wrapper">
        <div class="hero__ratings-stars-wrapper">
          {% for i in (1..5) %}
            <span class="star{% if forloop.last %} partial{% else %} filled{% endif %}">★</span>
          {% endfor %}
        </div>

        <div class="hero__ratings">{{ section.settings.rating }} / 5.0</div>
      </div>
      {% if section.settings.heading %}
        <h1
          class="hero__heading {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: 1;"
          {% endif %}
        >
          {{ section.settings.heading }}
        </h1>
      {% endif %}
      {% if section.settings.text %}
        <div
          class="hero__text {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: 2;"
          {% endif %}
        >
          {{ section.settings.text }}
        </div>
      {% endif %}
      <a
        href="{{ section.settings.url }}"
        class="hero__button button button--{{ section.settings.button_variant }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
          style="--animation-order: 3;"
        {% endif %}
      >
        {{ section.settings.button_label }}
      </a>

      <div class="hero__social-proof-wrapper">
        <img
          src="{{ 'social-proof.png' | asset_url }}"
          alt="Social proof"
          width="128"
          height="100%"
          class="hero__social-proof-image"
        >

        {% if section.settings.reviews_label %}
          <div>50.000+ {{ section.settings.reviews_label }}</div>
        {% endif %}
      </div>
    </div>

    {% comment %} Hero image  {% endcomment %}
    <div class="hero__image-wrapper">
      {% if section.settings.image %}
        {{
          section.settings.image
          | image_url: width: 1600
          | image_tag: class: 'hero__image', widths: '1200, 1600', sizes: '(max-width: 768px) 100vw, 1200px'
        }}
      {% else %}
        {{ 'hero-apparel-1' | placeholder_svg_tag: 'hero__image' }}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero with Text and Image",
  "tag": "section",
  "disabled_on": {
    "groups": ["*"]
  },
  "settings": [
    {
      "type": "range",
      "label": "Rating",
      "id": "rating",
      "default": 4.8,
      "min": 1,
      "max": 5,
      "step": 0.1
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Your heading goes here"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "This is just placeholder text. Don't be alarmed, this is just here to fill up space since your finalized copy isn't ready yet."
    },
    {
      "type": "text",
      "id": "reviews_label",
      "label": "Reviews Label",
      "default": "lorem ipsum dolor"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Label",
      "default": "Explore our products"
    },
    {
      "type": "select",
      "id": "button_variant",
      "label": "Variant",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "outline",
          "label": "Outline"
        }
      ],
      "default": "primary"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Collection URL"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "label": "Image",
      "id": "image"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#1a1a1a"
    }
  ],
  "presets": [
    {
      "name": "Hero with Text and Image"
    }
  ]
}
{% endschema %}
