{{ 'custom-blog-post.css' | asset_url | stylesheet_tag }}

{% render 'section-padding-style-config',
  section_id: section.id,
  padding_top: section.settings.padding_top,
  padding_bottom: section.settings.padding_bottom
%}

<div class="page-width">
  <div class="article__wrapper">
    <div class="article__content-wrapper">
      <h1
        class="h2 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
          style="--animation-order: 1;"
        {% endif %}
      >
        {{ article.title }}
      </h1>

      <div
        class="article__content-details {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
          style="--animation-order: 2;"
        {% endif %}
      >
        <span>{{ article.author }}</span>
        <span>{{ article.published_at | date: '%d. %B %Y' }}</span>
        <span>{{ article.comments_count }} Kommentare</span>
      </div>
    </div>

    <div
      class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      {% if settings.animations_reveal_on_scroll %}
        data-cascade
        style="--animation-order: 3;"
      {% endif %}
    >
      {{ article.image | image_url: width: 900 | image_tag: class: 'article__image' }}
    </div>

    <div
      class="article__content-wrapper {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      {% if settings.animations_reveal_on_scroll %}
        data-cascade
        style="--animation-order: 4;"
      {% endif %}
    >
      <div class="article__content">
        {{ article.content }}
      </div>
    </div>
  </div>

  {% comment %} Paginated articles {% endcomment %}
  <div class="article__content-wrapper related-articles__wrapper">
    {% paginate blog.articles by 2 %}
      <div class="related-articles__content-wrapper">
        <!-- Only show next/previous buttons -->
        <div class="navigation-container">
          {% if paginate.previous %}
            <a href="{{ paginate.previous.url }}" class="prev-btn">Vorherige</a>
          {% else %}
            <div></div>
          {% endif %}

          {% if paginate.next %}
            <a href="{{ paginate.next.url }}" class="next-btn">Nächste</a>
          {% else %}
            <div></div>
          {% endif %}
        </div>

        <div class="related-articles__list">
          {% for related_article in blog.articles %}
            {% unless related_article.handle == article.handle %}
              <div
                class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%
                  render 'custom-card-article', {
                  article: related_article
                  }
                %}
              </div>
            {% endunless %}
          {% endfor %}
        </div>
      </div>
    {% endpaginate %}
  </div>
</div>

{% schema %}
{
  "name": "Blog Post",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Styles"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 14,
      "step": 1,
      "unit": "rem",
      "label": "Padding Top",
      "default": 6
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 14,
      "step": 1,
      "unit": "rem",
      "label": "Padding Bottom",
      "default": 6
    }
  ],
  "presets": [
    {
      "name": "Blog Post"
    }
  ]
}
{% endschema %}
