{{ 'custom-column-list.css' | asset_url | stylesheet_tag }}

{% render 'section-padding-style-config',
  section_id: section.id,
  padding_top: section.settings.padding_top,
  padding_bottom: section.settings.padding_bottom
%}

<div class="page-width">
  <div class="col__grid">
    {% for block in section.blocks %}
      <div
        class="col__item"
        {{ block.shopify_attributes }}
        style="justify-items: {{ section.settings.text_alignment }}"
      >
        {% if block.settings.image %}
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'col__image' }}
        {% endif %}

        {% if block.settings.title %}
          <h4 class="col__title">{{ block.settings.title }}</h4>
        {% endif %}

        {% if block.settings.text %}
          <div class="col__text">{{ block.settings.text | strip_html }}</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Column List",
  "tag": "section",
  "disabled_on": {
    "groups": ["*"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Styles"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 4,
      "max": 14,
      "step": 1,
      "unit": "rem",
      "label": "Padding Top",
      "default": 6
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 4,
      "max": 14,
      "step": 1,
      "unit": "rem",
      "label": "Padding Bottom",
      "default": 6
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Placeholder text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Sometimes it's nice to put in text just to get an idea of how text will fill in a space on your website. </p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Column List",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
